.flipCard {
  width: 100%;
}

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width:100%;
  min-height: 30rem;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display:flex;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCardFlipped.flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 12.3rem;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  height:26rem;
  justify-content: space-between;
}

/* Style the back side */
.flipCardBack {
  transform: rotateY(180deg);
  background-color: white;
}